@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions



@{ 
    string data = Context.Request.GetEncodedUrl();

    string[] parcalar = data.Split("/");
    string selectLink = "home";
    string active = "active";
    if (parcalar.Length > 4)
    {
        selectLink = parcalar[4].ToString();
    }
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelefonSatisSitesi</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">
    <link href="~/css/shop-item.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6310877a64.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Telefon Satış Sitesi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item
                            @if (selectLink == "home") {
                                @active
                        } ">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                Anasayfa
                            </a>
                        </li>
                        <li class="nav-item
                            @if (selectLink == "Products") {
                                @active
                        }


                            ">
                            <a class="nav-link" href="@Url.Action("Products", "Home")">Tüm Telefonlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("UserManagment", "AdminPanel")">Yonetim Paneli</a>
                        </li>
                        @{

                            string userName = Context.Session.GetString("userName");
                            string permission = Context.Session.GetString("Permission");
                            if (userName != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Login", "Account")">@userName - Hesap Ayarlarım</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Cart", "Home")">Sepetim</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Logout", "Account")">Çıkış Yap</a>
                                </li>
                                if (permission == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("UserManagment", "AdminPanel")">Yonetim Paneli</a>
                                    </li>
                                }
                            }
                            else
                            {

                                <li class="nav-item
                                      @if (selectLink == "Login") {
                                @active
                        }
                                    ">
                                    <a class="nav-link" href="@Url.Action("Login", "Account")">Giriş Yap</a>
                                </li>
                                <li class="nav-item
                                      @if (selectLink == "Register") {
                                @active
                        }
                                    ">
                                    <a class="nav-link" href="@Url.Action("Register", "Account")">Kayıt Ol</a>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            @RenderBody()
        </div>
    </div>
    <footer class="py-5 bg-info">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>