@model IEnumerable<TelefonSatis.Models.Comment>
@{
    Layout = "~/Views/AdminPanel/_AdminLayout.cshtml";
    ViewData["Title"] = "CommentManagment";
}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Yorumlar Yönetimi</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Yönetim Paneli</li>
                <li class="breadcrumb-item active">Yorumlar Yönetimi</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Marka Kayıtları
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Yorum ID</th>
                                    <th>Telefon Adı</th>
                                    <th>Kullanıcı ID</th>
                                    <th>Yorum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@Html.DisplayFor(i => item.CommentId)</td>
                                            <td>@Html.DisplayFor(i => item.PhoneId)</td>
                                            <td>@Html.DisplayFor(i => item.UserId)</td>
                                            <td>@Html.DisplayFor(i => item.UserComment)</td>
                                            <td>
                                                @Html.ActionLink("Düzenle", "Edit","Comments", new { id = item.CommentId }, new { @class = "btn btn-dark" })
                                                @Html.ActionLink("Detay", "Details", "Comments", new { id = item.CommentId }, new { @class = "btn btn-dark" })
                                                @Html.ActionLink("Sil", "Delete", "Comments", new { id = item.CommentId }, new { @class = "btn btn-dark" })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>