@model IEnumerable<TelefonSatis.Models.Phone>
@{
    Layout = "~/Views/AdminPanel/_AdminLayout.cshtml";
    ViewData["Title"] = "PhoneManagment";
}

    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Telefon Yönetimi</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Yönetim Paneli</li>
                <li class="breadcrumb-item active">Telefon Yönetimi</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Telefon Kayıtları
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Kapak Fotorafı</th>
                                    <th>Telefon ID</th>
                                    <th>Telefon Adı</th>
                                    <th>Telefon Rengi</th>
                                    <th>Telefon Açıklaması</th>
                                    <th>Telefon Puanı</th>
                                    <th>Marka Adı</th>
                                    <th>Fiyatı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(i => item.Images)</td>
                                            <td>@Html.DisplayFor(i => item.PhoneId)</td>
                                            <td>@Html.DisplayFor(i => item.Name)</td>
                                            <td>@Html.DisplayFor(i => item.Color)</td>
                                            <td>@Html.DisplayFor(i => item.MinDesc)</td>
                                            <td>@Html.DisplayFor(i => item.Score)</td>
                                            <td>@Html.DisplayFor(i => item.brand.BrandName)</td>
                                            <td>@Html.DisplayFor(i => item.Price)</td>
                                            <td>
                                                @Html.ActionLink("Resim", "Image", "Phones", new { id = item.PhoneId }, new { @class = "btn btn-dark"})
                                                @Html.ActionLink("Düzenle", "Edit", "Phones", new { id = item.PhoneId }, new { @class = "btn btn-dark" })
                                                @Html.ActionLink("Detay", "Detail", "Home", new { id = item.PhoneId }, new { @class = "btn btn-dark" })
                                                @Html.ActionLink("Sil", "Delete", "Phones", new { id = item.PhoneId }, new { @class = "btn btn-dark" })
                                            </td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>