@model IEnumerable<TelefonSatis.Models.User>
@{
    Layout = "~/Views/AdminPanel/_AdminLayout.cshtml";
    ViewData["Title"] = "UserManagment";
}

    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Kullanıcı Yönetimi</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Yönetim Paneli</li>
                <li class="breadcrumb-item active">Kullanıcı Yönetimi</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Kullanıcı Kayıtları
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Kullanıcı ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Kullanıcı Mail Adresi</th>
                                    <th>Kullanıcı Şifresi</th>
                                    <th>Kullanıcı Yetkisi</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Permission)</td>
                                        <td>
                                            @Html.ActionLink("Düzenle", "Edit","Users", new { id = item.UserId }, new { @class = "btn btn-dark" })
                                            @Html.ActionLink("Detay", "Details", "Users", new { id = item.UserId }, new { @class = "btn btn-dark" })
                                            @Html.ActionLink("Sil", "Delete", "Users", new { id = item.UserId }, new { @class = "btn btn-dark" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>