@model TelefonSatis.Models.Phone
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Cart";
}

<div class="col-lg-12">

    <div class="card mt-4 mb-4">
        <div class="card-body">
            <h3 class="card-title">Sepetim</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Resim</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Rengi</th>
                        <th>Açıklama</th>
                        <th>Adet</th>
                        <th>Fiyat</th>
                        <th><i class="far fa-eye-slash"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @if(ViewBag.data != null) { 
                    @foreach (var item in ViewBag.data)
                    { 
                    <tr>
                        <td>#</td>
                        <td>@item.Name</td>
                        <td>@item.Color</td>
                        <td>@item.MinDesc</td>
                        <td>1</td>
                        <td>@item.Price ₺</td>
                        <td>
                            @using (Html.BeginForm("CartItemDelete", "Home", FormMethod.Post, new { }))
                            {
                                <input id="PhoneId" name="PhoneId" value="@item.PhoneId" type="hidden" />
                                <button class="btn btn-primary"><i class="far fa-eye-slash"></i></button>
                            }
                            </td>
                    </tr>
                    }
                    }
                        
                    </tbody>
            </table>
        </div>
    </div>
</div>
