@model TelefonSatis.Models.Phone


@{
    ViewData["Title"] = "Details";
}



    <div class="col-lg-3">
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
            @foreach (var person in ViewBag.data)
            {
                <a href="#" class="list-group-item">@person.BrandName</a>
            }
        </div>
    </div>


<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="https://picsum.photos/900/400" alt="">
        <div class="card-body">
            <h3 class="card-title">@Model.brand.BrandName - @Model.Name</h3>
            <h4>Price: @Model.Price₺</h4>
            <h5>Color: @Model.Color</h5>
            <p class="card-text">@Model.MinDesc</p>
            <span class="text-warning">
                @{ int Score = Int32.Parse(Model.Score);
                    int FiveScore = 0;
                }
                @if (Score < 5)
                {
                    FiveScore = 5 - Score;
                }
                @for (int i = 0; i < Score; i++)
                {
                    @:  <i class='fas fa-star'></i>
                }
                @for (int i = 0; i < FiveScore; i++)
                {
                    @:  <i class='far fa-star'></i>
                }
            </span>
            (@Score stars)
        </div>
    </div>
    <!-- /.card -->
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Product Details
        </div>
        <div class="card-body">
            @Model.Description
        </div>
    </div>


    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Product Reviews
        </div>
        <div class="card-body">
            @foreach (var item in Model.comments)
            {
                <p>@item.UserComment</p>
                <small class="text-muted">Posted by Anonymous</small>
                <hr />
            }
            <div class="col col-md-12 text-right">
                <button onclick="commentButton()" id="commentButton" class="btn btn-success">Create Comment</button>
            </div>
            <hr />
            <div class="col col-md-12">
                <form id="commentForm" style="display:none;">
                    <label>Point:</label>
                    <select class="custom-select">

                        <option selected value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>


                    </select>
                    <hr />

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Your review</span>
                        </div>
                        <textarea class="form-control" aria-label="Comment"></textarea>
                    </div>
                    <br />
                    <div class="text-right">
                        <button onclick="" id="" class="btn btn-outline-info">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>

<script>
    let display = "block";
    function commentButton() {
        
        let form = document.getElementById("commentForm");
        if (display == "block") {
            form.style.display = display;
            display = "none";    
            form.classList.add("animate__zoomOutRight");
 
        } else {
            
            form.classList.add("animate__zoomOutRight");
            form.style.display = display;
            display = "block";

        }
        
    }
</script>
