@model IEnumerable<TelefonSatis.Models.Brand>
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Products";
}

@{
    string data = Context.Request.GetEncodedUrl();

    string[] parcalar = data.Split("/");
    int selectId = 0;
    if(parcalar.Length > 5)
    {
        selectId = Int32.Parse(parcalar[5]);
    }


}

@{
    string kategoriName = "";
}
<div class="col-lg-3" style="padding-top: 3%;">

    <h4 class="my-4">&nbsp;&nbsp;Kategoriler</h4>
    <div class="list-group">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="search" class="form-control" id="SearchBar" name="search" placeholder="Arama Yapın">
                <input asp-action="Products" type="submit" value="Arama Yap" style="width:100%" class="btn btn-outline-primary my-2" />
            </div>
        }
            @if (selectId == 0)
            {
                <a asp-action="Products" asp-route-id="" class="list-group-item active">Tüm kategoriler</a>
            }
            else
            {
                <a asp-action="Products" asp-route-id="" class="list-group-item ">Tüm kategoriler</a>
            }
            @foreach (var person in Model)
            {
                @if (person.BrandId == selectId)
                {
                    kategoriName = person.BrandName;

                    <a asp-action="Products" asp-route-id="@person.BrandId" class="list-group-item active">@person.BrandName</a>
                }
                else
                {
                    <a asp-action="Products" asp-route-id="@person.BrandId" class="list-group-item">@person.BrandName</a>
                }
            }
        </div>
</div>



<div class="col-lg-9 " style="padding-top: 3%;">

    <h2>@{
        if(kategoriName == "")
        {
            kategoriName = "Tüm modellerimiz";
        } else
        {
            kategoriName += " Modelleri";
        }
    } @kategoriName</h2>
    <hr width="100%" color="#17a2b8" size="4">
    <div class="row">
        @foreach (var item in ViewBag.data)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        @if (item.Images == "" || item.Images == null)
                        {
                            <img class="card-img-top" src="~/images/resim-yok.png" alt="Alternate Text" />

                        }
                        else
                        {
                            <img class="card-img-top" src="~/images/@item.Images" alt="Alternate Text" />
                        }
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a asp-action="Detail" asp-route-id="@item.PhoneId">@item.brand.BrandName - @item.Name</a>
                        </h4>
                        <h5>@item.Price₺</h5>
                        <p class="card-text">@item.MinDesc</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-warning">
                            @{ int Score = item.Score;
                                int FiveScore = 0;
                            }
                            @if (Score < 5)
                            {
                                FiveScore = 5 - Score;
                            }
                            @for (int i = 0; i < Score; i++)
                            {
                                @:  <i class='fas fa-star'></i>
                            }
                            @for (int i = 0; i < FiveScore; i++)
                            {
                                @:  <i class='far fa-star'></i>
                            }
                        </small>
                        (@Score stars)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
